* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.contenido{
    background-color: rgb(69, 255, 100);
    padding: 40px 10px ;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
}

h1{
    padding: 50px;
    color: rgb(47, 0, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nosotros2{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
p{
    padding: 0px 100px;
}
img{
    width: 300px;
    align-items: center;
}

footer{
    align-items: center;
    justify-content: left;
    font-size: 25px;
    cursor: pointer;

}

